USE [DboHareketSorgulama]
GO
/****** Object:  Table [dbo].[TBL_HAREKETLER]    Script Date: 21.04.2019 23:18:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_HAREKETLER](
	[HAREKETID] [smallint] IDENTITY(1,1) NOT NULL,
	[URUN] [tinyint] NULL,
	[MUSTERI] [tinyint] NULL,
	[PERSONEL] [tinyint] NULL,
	[FIYAT] [smallint] NULL,
 CONSTRAINT [PK_TBL_HAREKETLER] PRIMARY KEY CLUSTERED 
(
	[HAREKETID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_MUSTERILER]    Script Date: 21.04.2019 23:18:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_MUSTERILER](
	[ID] [tinyint] IDENTITY(1,1) NOT NULL,
	[ADSOYAD] [varchar](30) NULL,
 CONSTRAINT [PK_TBL_MUSTERILER] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_PERSONELLER]    Script Date: 21.04.2019 23:18:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_PERSONELLER](
	[ID] [tinyint] IDENTITY(1,1) NOT NULL,
	[AD] [varchar](30) NULL,
 CONSTRAINT [PK_TBL_PERSONELLER] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_URUNLER]    Script Date: 21.04.2019 23:18:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_URUNLER](
	[ID] [tinyint] IDENTITY(1,1) NOT NULL,
	[AD] [varchar](20) NULL,
	[STOK] [tinyint] NULL,
	[ALISFIYAT] [smallint] NULL,
	[SATISFIYAT] [smallint] NULL,
 CONSTRAINT [PK_TBL_URUNLER] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[TBL_HAREKETLER]  WITH CHECK ADD  CONSTRAINT [FK_TBL_HAREKETLER_TBL_MUSTERILER] FOREIGN KEY([MUSTERI])
REFERENCES [dbo].[TBL_MUSTERILER] ([ID])
GO
ALTER TABLE [dbo].[TBL_HAREKETLER] CHECK CONSTRAINT [FK_TBL_HAREKETLER_TBL_MUSTERILER]
GO
ALTER TABLE [dbo].[TBL_HAREKETLER]  WITH CHECK ADD  CONSTRAINT [FK_TBL_HAREKETLER_TBL_PERSONELLER] FOREIGN KEY([PERSONEL])
REFERENCES [dbo].[TBL_PERSONELLER] ([ID])
GO
ALTER TABLE [dbo].[TBL_HAREKETLER] CHECK CONSTRAINT [FK_TBL_HAREKETLER_TBL_PERSONELLER]
GO
ALTER TABLE [dbo].[TBL_HAREKETLER]  WITH CHECK ADD  CONSTRAINT [FK_TBL_HAREKETLER_TBL_URUNLER] FOREIGN KEY([URUN])
REFERENCES [dbo].[TBL_URUNLER] ([ID])
GO
ALTER TABLE [dbo].[TBL_HAREKETLER] CHECK CONSTRAINT [FK_TBL_HAREKETLER_TBL_URUNLER]
GO
/****** Object:  StoredProcedure [dbo].[HAREKETLER]    Script Date: 21.04.2019 23:18:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[HAREKETLER]
AS
select (TBL_URUNLER.AD) AS 'ÜRÜN', 
(TBL_MUSTERILER.ADSOYAD) AS 'MÜŞTERİ', 
(TBL_PERSONELLER.AD) AS 'PERSONEL', FIYAT
FROM TBL_HAREKETLER
inner join TBL_URUNLER
ON
TBL_HAREKETLER.URUN=TBL_URUNLER.ID
inner join TBL_MUSTERILER
ON
TBL_HAREKETLER.MUSTERI=TBL_MUSTERILER.ID
inner join TBL_PERSONELLER
ON
TBL_HAREKETLER.PERSONEL=TBL_PERSONELLER.ID
GO
